/**************************/
/* over 1600px  */
/**************************/
@media (min-width:100em) {
    .questionairefooterfix{
        position: fixed;
        bottom:0;
        width:100%;
    }
    .sectionQuestionaire{
        margin-bottom: 18.5rem;
    }
    .sectionFunction,.Sectiondatainfo,.Sectionpayment{
        padding:1rem 15rem;
    }
    .signupBtn:link, .signupBtn:visited{
        font-size:2.4rem;
    }
     /* login */
     .loginInputContainer{
        grid-template-columns: 1fr 1.5fr;
     }
     .headerlogin:link, .headerlogin:visited{
        font-size:2.8rem;
     }
     .input, .select{
        font-size:2.4rem;
     }
}   
/**************************/
/* BELOW 1024px  */
/**************************/
@media (max-width:65em) {
    .h1{
        font-size:3.8rem;
    }
    .sectionLogin{
        padding:3rem 5rem 10rem 5rem;
    }
    .contactContainer{
        grid-template-columns:1fr;
        align-items: center;
        justify-items: center;
        margin-top: 2rem;
    }
    iframe{
        width:400px;
        height:300px;
    }
}
/**************************/
/* BELOW 1024px  */
/**************************/
@media (max-width:65em) {
    /* index */
    .herocontainer{
        grid-template-columns: 1fr;
    }
    .h1{
        font-size:4rem;
    }
    .herocontentList{
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .herocontentList li{
        margin:0;
        width:20rem;
        font-size:2.8rem;
        display: inline-block;
        padding:0;
        text-align: left;
    }
    .herocontentList li:last-child{
        margin-bottom:2rem;
    }
    /* validation */
    .footerfix{
        position: fixed;
        bottom:0;
        width:100vw;
    }
    /* login */
    .sectionLogin{
        margin-bottom:60rem;
    }
    .headtitleContainer, .stateContainer{
        gap:3rem;
    }
    .companyLoginLogo{
        width:100%;;
    }
    /* questionaire */
    
    /* 無問卷時顯示之標題 Start */
    .questionaireSecondaryTitle{
        margin-bottom: 90rem;
        }
    /* 無問卷時顯示之標題 End */
}
/**************************/
/* BELOW 880px  */
/**************************/
@media (max-width:55em) {
    .bannerimg{
        width:85%;
    }
    /* .h1{
        font-size:3rem;
        margin-bottom:2rem;
        transform:translateY(0)
    } */
    .introduceImg{
        width:70%;
        transform: translateY(-5rem);
    }
    .couponImg{
        width:80%;
    }
    .functionBox{
        padding:3rem;
    }
    .functionImg{
        width:30rem;
    }
    .datainfoImgBox{
        padding:3rem 4rem;
        column-gap: 2rem;
    }
    .datainfoImg{
        width:100%;
    }
    .decoline{
        width:7em;
    }
    /* login */
    .loginInputContainer{
        grid-template-columns: 1fr;
    }
    .companyLoginLogo{
        width:65%;
    }
    .headerlogin:link, .headerlogin:visited{
        font-size:2.2rem;
    }
    .inputContainerLogin{
        border:none;
        margin-top: 0;
    }
    /* questionaire */
    .sectionQuestionaire{
        padding:3rem 4rem 10rem 4rem
    }
    /* 無問卷時顯示之標題 Start */
    .questionaireSecondaryTitle{
        margin-bottom: 60rem;
        }
    /* 無問卷時顯示之標題 End */
}
/**************************/
/* BELOW 830px  */
/**************************/
@media (max-width:52em) {
    /* login */
    .sectionLogin{
        margin-bottom:35rem;
    }
}
/**************************/
/* BELOW 650px  */
/**************************/
@media (max-width:41em) {
    .logo{
        width:60%;
    }
    .bannerContainer{
        grid-template-columns: 1fr;
    }
    .introduceImg{
        width:80%;
        transform: translateY(-1rem);
    }
    .functionTitle,
    .functionTitle2{
        font-size:2.4rem;
    }
    .functionContainer{
        flex-direction: column;
        gap:2rem;
        
    }
    .functionContainerSec{
        flex-direction: column-reverse;
    }
    .introduceImg{
        width:90%;
        transform: translateY(-10rem);
    }
    /* validation */
    .sectionVerify{
        padding:3rem;
    }
    .verifyTitleBox{
        transform: translate(-10rem,0);
    }
    .verifyImg{
        width:30rem;
    }
    /* login */
    .sectionLogin{
        margin-bottom:20rem;
    }
    /* questionaire */
    .questionairesContainer{
        grid-template-columns: 1fr;
    }
    /* 無問卷時顯示之標題 Start */
    .questionaireSecondaryTitle{
    margin-bottom: 40rem;
    }
    /* 無問卷時顯示之標題 End */
    .sectionContact{
        padding:3rem;
    }
}   
/**************************/
/* BELOW 540px  */
/**************************/
@media (max-width:34em) {
    .h1{
        font-size:3.2rem;
    }
    .herosection{
        padding:2rem 3rem 5rem 3rem;
    }
    .herocontent{
        padding:3rem 2rem;
    }
    .herocontent span{
        font-size:2.4rem;
    }
    .herocontentList li{
        font-size:2.4rem;
    }
    .introduceBox{
        padding:1rem 2rem;
    }
    .introduceImg{
        width: 100%;
    }
    .couponImg{
        width:100%;
    }
    .datainfoImgBox{
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
    .datainfoImg{
        width:75%;
    }
    .functionContent{
        font-size:2rem;
    }
    /* signup */
    .sectionMain{
        padding:3rem;
    }
    .stateBox{
        gap:1.5rem;
    }
    .adressinput{
        width:30rem;
    }
    .paymentimgContainer{
        grid-template-columns: 1fr;
        row-gap: 1.5rem;
    }
    .headtitleContainer{
        gap:1.5rem;
    }
    .headerlogin:link, .headerlogin:visited{
        padding:0.5rem 1rem;
    }
    .inputContainerLogin{
        padding:1rem;
    }
    /* questionaire */
    .questionaireheaderImg{
        width:14rem;
    }
    iframe{
        width:300px;
        height:250px;
    }
}
/**************************/
/* BELOW 430px  */
/**************************/
@media (max-width:28em) {
    .logo{
        width:80%;
    }
    .introduceImg{
        width:130%;
    }
    .couponImg{
        width:120%;
    }
    .datainfoImg{
        width:85%;
    }
    .lineBox1{
        padding:1rem 0;
    }
    .line1, .line2{
        border-bottom:2px solid #FF5C00;
    }
    .navigationBox{
        gap:1rem;
        align-items: center;
    }
    .signup:link, .signup:visited, .login:link, .login:visited{
        font-size:1.4rem;
    }
    /* login */
    .sectionLogin{
        padding:1.4rem;
    }
    .input, .select{
        width:30rem;
    }
    .headerlogin:link, .headerlogin:visited{
        font-size:1.8rem;
    }
    /* validation */
    .verifyTitleBox{
        transform: translate(-5rem,0);
    }
    .verifyTitle{
        font-size:2rem;
    }
    .verifyImg{
        width:20rem;
    }
    /* questionaire */
    .questionaireheaderImg{
        width:10rem;
    }
    .questionaireLink:link, 
    .questionaireLink:visited{
        gap:1rem;
    }
    .contactTitleBox{
        padding:0 ;
    }
    .mapBox{
        padding:0;
    }
}
/**************************/
/* BELOW 280px  */
/**************************/
@media (max-width:19em) {
    .sectionLogin{
        padding:1rem;
    }
    .input, .select{
        width:25rem;
    }
    .mainButton{
        padding:0.7rem 2rem;
    }
    .signupBtn:link, .signupBtn:visited{
        padding:1rem 2rem;
    }
    .headerlogin:link, .headerlogin:visited{
        font-size:1.5rem;
    }
    .titleicon{
        width:2rem;
    }
    /* questionaire */
    .sectionQuestionaire{
        padding:3rem 2rem 10rem 2rem
    }
    .questionaireHeadingTitle{
        font-size:2rem;
    }
}
