@charset "UTF-8";
.mobile_aside {
  width: 250px;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 45px;
  padding-bottom: 45px;
  transform: translateX(-251px);
  -moz-transform: translateX(-251px);
  -webkit-transform: translateX(-251px);
  -o-transform: translateX(-251px);
  -ms-transform: translateX(-251px);
  position: fixed;
  top: 0;
  background-color: #efefef;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }

.mnav {
  padding: 30px 0 30px 0; }
  .mnav__item {
    position: relative; }
    .mnav__item > span {
      position: absolute;
      right: 15px;
      top: 7px;
      width: 8px;
      height: 7px; }
      .mnav__item > span:after {
        font-size: 20px;
        content: '▾';
        color: #6b6b6b;
        display: flex; }
    .mnav__item > a {
      color: #6b6b6b;
      font-weight: 300;
      padding: 10px 20px;
      display: block; }
    .mnav__item__list {
      background-color: #fff;
      padding: 10px 0 20px 0;
      display: none; }
      .mnav__item__list li {
        position: relative; }
        .mnav__item__list li a {
          color: #6b6b6b;
          padding: 5px 30px 5px 40px;
          display: block; }
        .mnav__item__list li > span {
          position: absolute;
          right: 15px;
          top: 14px;
          width: 8px;
          height: 7px;
          background-size: 100%;
          background-repeat: no-repeat; }
        .mnav__item__list li.current > a {
          background-image: url("../images/tri.png");
          background-position: left 25px center;
          background-repeat: no-repeat;
          color: #a1754d; }
      .mnav__item__list ul {
        padding: 0px 0 10px 15px; }
        .mnav__item__list ul li a {
          color: #181818; }
        .mnav__item__list ul li.current a {
          background: none;
          /*text-shadow:  0.01em 0 #01a29d;
          background-image: url('../images/tri.png');
          background-position: left 20px center;
          background-repeat: no-repeat;*/ }

.linkbox {
  margin-top: 10px;
  background-color: #fff;
  border: 1px solid #6b6b6b;
  padding: 8px 15px;
  display: flex;
  justify-content: flex-start; }
  .linkbox a {
    color: #6b6b6b;
    font-size: 14px;
    letter-spacing: 0.12em; }
    .linkbox a:after {
      content: '｜';
      display: inline-block;
      padding-left: 5px;
      padding-right: 3px; }
    .linkbox a:last-child:after {
      display: none; }
  @media (max-width: 980px) {
    .linkbox--pc {
      display: none; }
    .linkbox--mobile {
      padding: 8px 17px;
      width: 90%;
      margin-left: 5%; }
      .linkbox--mobile a {
        font-size: 15px; } }

@media (max-width: 1024px) {
  .searchbox {
    padding: 5px 15px;
    background-color: #fff;
    border: 1px solid #6b6b6b; }
    .searchbox--pc {
      display: none; }
    .searchbox--mobile {
      width: 90%;
      margin-left: 5%;
      margin-top: 20px;
      border: 1px solid #6b6b6b; }
      .searchbox--mobile i {
        color: #6b6b6b; }
    .searchbox input {
      color: #6b6b6b; }
      .searchbox input::-webkit-input-placeholder {
        color: #6b6b6b; }
      .searchbox input::-moz-placeholder {
        color: #6b6b6b; }
      .searchbox input::-moz-placeholder {
        color: #6b6b6b; }
      .searchbox input:-ms-input-placeholder {
        color: #6b6b6b; } }

/*# sourceMappingURL=aside_style01.css.map */
