@charset "UTF-8";
.container {
  width: 100%;
  max-width: 1300px;
  padding-left: 30px;
  padding-right: 30px;
  margin: 0 auto;
  display: flex;
  position: relative; }
  .container::before {
    display: none; }
  .container::after {
    display: none; }

html.openaside {
  position: fixed;
  width: 100%; }

body {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  body.openaside {
    transform: translateX(250px);
    -moz-transform: translateX(250px);
    -webkit-transform: translateX(250px);
    -o-transform: translateX(250px);
    -ms-transform: translateX(250px); }

.Wrapper {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  .Wrapper.openaside {
    overflow: hidden; }

.Wrapper__mask {
  background-color: #000;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  left: -1px;
  z-index: 1000000;
  visibility: hidden; }
  .Wrapper__mask.openaside {
    visibility: visible; }

.mainbody {
  padding-top: 0px;
  display: flex;
  min-height: 500px; }
  .mainbody.idx {
    flex-wrap: wrap;
    flex-direction: column; }
  @media (max-width: 1024px) {
    .mainbody {
      padding-top: 97px; } }

.index .header {
  position: absolute;
  background: none; }

#supersize {
  position: absolute; }

#supersize img, #supersize a {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 0; }

#supersize .prevslide, #supersize .prevslide img {
  z-index: 1; }

#supersize .activeslide, #supersize .activeslide img {
  z-index: 2; }

/*
.index{
	.header{
		padding-top: 40px;
		background-image: url('../images/bg01.png');
		background-attachment: fixed;
		height: 100vh;
		background-size: cover;
		background-position: center top;
		position:relative;
		.container{
			align-items: flex-start;
		}
		@media(max-width: 640px){
			background-attachment: scroll;
		}

		.header{
			&__cart{
				top: 100px;
				a{
					color:#fff;
					background: none;
				}
				@media(max-width: 980px){
					top: 25px;
					p{
						span{
							//display: inline;
						}
					}
					a{
						color:#fff;
						//background: none;
						//display: block;
					}
					.number{
						//font-size: 40px;
					}
				}
				@media(max-width: 980px){
					top: -25px;
					//padding: 0 30px;
				}
				@media(max-width: 330px){
					top: -20px;
					//padding: 0 30px;
				}
			}
		}

		&__menu{
			padding-top:40px;
		}

		&__logo{
			a{
				background-color: rgba(0, 0, 0, 0.3);
				display: block;
				border: 1px solid #fff;
				width:54px;
				padding:20px 15px 40px 15px;
				text-align: center;
				line-height: 1.2;
				margin-top:25px;
				position:relative;
				top:-20px;
				@media(max-width: 980px){
					background:none;
					border: 0px solid #fff;
					width:auto;
					padding:0;
					margin-top:0px;
					top:-20px;
				}

			}
		}
	}
	.mainbody{
		padding-top:0px;
	}

	.mobile_btn{
		//left:35px;
		#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
		  background: #fff;
		}
	}
}


*/
.index .header__cart {
  top: 100px; }
  .index .header__cart a {
    color: #fff;
    background: none; }
  @media (max-width: 980px) {
    .index .header__cart {
      top: 25px; }
      .index .header__cart a {
        color: #fff; } }
  @media (max-width: 980px) {
    .index .header__cart {
      top: 0px; } }
.index .header__logo {
  			/*a{
  				background-color: rgba(0, 0, 0, 0.3);
  				display: block;
  				border: 1px solid #fff;
  				width:54px;
  				padding:20px 15px 40px 15px;
  				text-align: center;
  				line-height: 1.2;
  				margin-top:25px;
  				position:relative;
  				top:-20px;
  				@media(max-width: 980px){
  					background:none;
  					border: 0px solid #fff;
  					width:auto;
  					padding:0;
  					margin-top:0px;
  					top:5px;
  				}
  
  			}*/ }

.white .header__cart a {
  color: #fff;
  text-shadow: 0.05em 0.05em 2px #000;
  background: none; }

.scroll {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: none;
  text-align: center; }
  .scroll p {
    color: #fff;
    font-size: 16px;
    letter-spacing: 0.2em;
    padding: 10px 0; }
    .scroll p.arrow {
      -webkit-animation-name: bounceInDown;
      animation-name: bounceInDown;
      -webkit-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-duration: 1.5s;
      animation-duration: 1.5s;
      -webkit-animation-fill-mode: both;
      animation-fill-mode: both; }

.index .scroll {
  display: block; }

.aside {
  padding-top: 50px;
  width: 270px;
  flex-shrink: 0;
  padding-right: 30px; }
  @media (max-width: 980px) {
    .aside {
      display: none; } }

.main {
  padding-top: 58px;
  padding-bottom: 50px;
  flex-grow: 1;
  width: 100%; }
  .main__content {
    background-color: #fff;
    padding: 60px 100px;
    margin-bottom: 20px; }
  @media (max-width: 980px) {
    .main {
      padding-top: 28px; }
      .main__content {
        background-color: #fff;
        padding: 40px 50px; } }
  @media (max-width: 640px) {
    .main {
      padding-top: 20px; }
      .main__content {
        background-color: #fff;
        padding: 20px 15px; } }

.main__content__title {
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 30px; }
  .main__content__title .tit {
    font-size: 24px;
    color: #101010;
    letter-spacing: 0.1em;
    padding-bottom: 15px; }
  .main__content__title .cat {
    font-size: 15px;
    letter-spacing: 0.1em;
    color: #5f5f5f;
    padding-bottom: 5px; }
  .main__content__title .date {
    font-size: 13px;
    color: #101010;
    letter-spacing: 0.15em;
    padding-top: 20px;
    padding-bottom: 25px; }
  .main__content__title .subtit {
    color: #5f5f5f;
    letter-spacing: 0.1em;
    font-size: 15px;
    padding-bottom: 25px; }
  .main__content__title .center {
    text-align: center; }
  .main__content__title.nobd {
    border: 0; }
  @media (max-width: 640px) {
    .main__content__title .tit {
      font-size: 21px; }
    .main__content__title .date {
      padding-top: 0px; } }

.aside__cat {
  padding-bottom: 50px; }
  .aside__cat__item {
    padding: 8px 0; }
    .aside__cat__item > a {
      font-size: 15px;
      padding-left: 25px;
      background-position: left center;
      background-repeat: no-repeat;
      color: #181818; }
    .aside__cat__item.current > a {
      color: #0092a9;
      background-image: url("../images/tri.png"); }
    .aside__cat__item:hover > a {
      color: #a1754d; }
  .aside__cat__sec {
    padding: 10px 0 0px 15px;
    display: none; }
    .aside__cat__sec__item {
      padding: 8px 0; }
      .aside__cat__sec__item a {
        font-size: 15px;
        padding-left: 25px;
        background-position: left 10px center;
        background-repeat: no-repeat;
        color: #181818; }
      .aside__cat__sec__item.current a {
        color: #a1754d; }
      .aside__cat__sec__item:hover a {
        color: #a1754d; }

.bread {
  border-bottom: 1px solid #dbdbdb;
  width: 100%;
  padding-bottom: 20px; }
  .bread .breadcrumb li {
    color: #696969;
    font-size: 15px;
    display: inline-block; }
    .bread .breadcrumb li a {
      color: #696969;
      letter-spacing: 0.15em;
      margin-left: 5px; }
      .bread .breadcrumb li a h1, .bread .breadcrumb li a h2 {
        display: inline-block; }
    .bread .breadcrumb li:first-child a {
      margin-left: 0; }
    @media (max-width: 640px) {
      .bread .breadcrumb li {
        font-size: 13px; } }
  .bread.white li {
    color: #fff; }
    .bread.white li a {
      color: #fff; }
  .bread.nobd {
    border-bottom: 0px;
    padding-bottom: 45px; }
  @media (max-width: 640px) {
    .bread {
      padding-bottom: 15px; } }

.sort {
  padding: 25px 0;
  display: flex;
  align-items: center; }
  .sort select {
    margin-right: 10px; }
  .sort p {
    font-size: 15px;
    color: #696969;
    letter-spacing: 0.08em; }
  @media (max-width: 640px) {
    .sort select.style01 {
      width: 150px; } }
  @media (max-width: 330px) {
    .sort {
      flex-direction: column;
      align-items: flex-end; }
      .sort select.style01 {
        width: 100%;
        margin-right: 0; }
      .sort p {
        font-size: 13px;
        margin-top: 5px; } }

select.style01 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0;
  border: 0;
  width: 180px;
  max-width: 100%;
  height: 35px;
  font-size: 15px;
  padding: 0 15px;
  letter-spacing: 0.08em;
  color: #696969;
  border: 1px solid #aaaaaa;
  background-image: url("../images/drop.png");
  background-position: right 18px center;
  background-repeat: no-repeat; }
  @media (max-width: 480px) {
    select.style01 {
      font-size: 13px;
      background-position: right 8px center;
      padding: 0 10px; } }
  select.style01:focus, select.style01:active {
    outline: 2px solid #7a7a7a; }

select.aside__select {
  display: none;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 35px;
  font-size: 15px;
  letter-spacing: 0.06em; }
  @media (max-width: 980px) {
    select.aside__select {
      display: block;
      margin-top: -25px;
      width: calc(100% + 100px);
      margin-left: -50px;
      margin-right: -50px;
      max-width: calc(100% + 100px); } }
  @media (max-width: 640px) {
    select.aside__select {
      margin-top: 0;
      width: calc(100% + 30px);
      margin-left: -15px;
      margin-right: -15px;
      max-width: calc(100% + 30px); } }

.textcontent {
  font-size: 15px;
  color: #696969;
  line-height: 1.6;
  letter-spacing: 0.06em;
  word-break: break-all;
  font-family: "Noto Serif TC", "微軟正黑體" !important; }
  .textcontent > * {
    font-size: 15px;
    color: #696969;
    line-height: 1.6;
    letter-spacing: 0.06em; }
  .textcontent img {
    max-width: 100%;
    height: auto !important; }
  .textcontent strong{
    font-weight: bold !important;}
  .textcontent strong>p{
    font-weight: bold !important;}

      .textcontent strong>span{
    font-weight: bold !important;}
.btnstyle01 {
  position: relative;
  font-size: 15px;
  padding: 10px 20px;
  min-width: 180px;
  max-width: 100%;
  letter-spacing: 0.1em;
  top: 0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }
  .btnstyle01--lightbrown {
    background-color: #006a7b;
    color: #fff; }
  .btnstyle01--darkbrown {
    background-color: #663d18;
    color: #fff; }
  .btnstyle01--black {
    background-color: #099ab1;
    color: #fff; }
  .btnstyle01--gray {
    background-color: #ababab;
    color: #fff; }
  .btnstyle01--darkgray {
    background-color: #555555;
    color: #fff; }
  .btnstyle01--facebook {
    background-color: #33619f;
    color: #fff; }
  .btnstyle01--green {
    background-color: #00b900;
    color: #fff; }
  .btnstyle01--large {
    padding: 10px 40px;
    font-size: 16px; }
    @media (max-width: 640px) {
      .btnstyle01--large {
        font-size: 14px; } }
  .btnstyle01--small {
    background-color: #099ab1;
    color: #fff;
    min-width: 10px;
    padding: 3px 8px; }
  .btnstyle01.center {
    margin: 0 auto; }
  .btnstyle01:hover {
    top: -3px;
    box-shadow: 2px 2px 5px #666; }
  @media (max-width: 640px) {
    .btnstyle01 {
      font-size: 14px;
      min-width: 100px; } }

.btnlist {
  display: flex;
  justify-content: space-between;
  margin-left: -10px;
  margin-right: -10px; }
  .btnlist button {
    margin: 0 10px;
    flex-shrink: 1; }
  .btnlist--group {
    padding: 25px 0; }
    .btnlist--group button {
      flex-grow: 1;
      flex: 1;
      min-width: auto; }
  .btnlist--center {
    justify-content: center; }
  .btnlist--right {
    justify-content: flex-end; }
  @media (max-width: 1024px) {
    .btnlist--space {
      flex-wrap: wrap;
      justify-content: center; } }
  @media (max-width: 854px) {
    .btnlist--space .btnstyle01 {
      max-width: 40%;
      min-width: 10%;
      padding: 10px; } }
  .btnlist .memberformbox {
    flex-grow: 1;
    text-align: left;
    align-items: center; }
    .btnlist .memberformbox a {
      color: #5f5f5f; }
    @media (max-width: 1024px) {
      .btnlist .memberformbox {
        width: 100%;
        padding-bottom: 20px; } }

.links {
  position: relative;
  top: -30px; }
  .links a {
    color: #696969;
    font-size: 15px;
    letter-spacing: 0.12em; }
    .links a:after {
      content: '｜';
      display: inline-block;
      width: 5px;
      padding-right: 7px;
      margin: 0 8px 0 4px; }
    .links a:last-child:after {
      display: none; }
  @media (max-width: 640px) {
    .links {
      top: -10px;
      margin-bottom: 5px; } }

input[type='text'].style01, input[type='password'].style01 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0;
  border: 1px solid #aaaaaa;
  background-color: #e6e6e6;
  height: 40px;
  padding: 0 10px;
  font-size: 15px; }
  input[type='text'].style01:focus, input[type='text'].style01:active, input[type='password'].style01:focus, input[type='password'].style01:active {
    outline: 2px solid #7a7a7a; }

input[type='text'].style02, input[type='password'].style02 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  height: 35px;
  padding: 0 10px;
  font-size: 15px; }
  input[type='text'].style02:focus, input[type='text'].style02:active, input[type='password'].style02:focus, input[type='password'].style02:active {
    outline: 2px solid #7a7a7a; }

textarea.style02 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  height: 180px;
  padding: 10px;
  font-size: 15px;
  box-sizing: border-box; }
  textarea.style02:focus, textarea.style02:active {
    outline: 2px solid #7a7a7a; }

textarea.style01 {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0;
  border: 0;
  box-sizing: border-box;
  box-shadow: 0;
  border: 1px solid #aaaaaa;
  background-color: #fff;
  background-color: #e6e6e6;
  height: 130px;
  padding: 10px; }
  textarea.style01:focus, textarea.style01:active {
    outline: 2px solid #7a7a7a; }

input[type=radio]:not(old) {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0; }

input[type=radio]:not(old) + label {
  display: inline-block;
  padding-left: 28px;
  line-height: 20px;
  background: url("../images/check0.png") no-repeat;
  background-size: 20px 20px;
  background-position: center left; }

input[type=radio]:not(old):checked + label {
  background: url("../images/check1.png") no-repeat;
  background-size: 20px 20px;
  background-position: center left; }

input[type=checkbox]:not(old) {
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
  opacity: 0; }

input[type=checkbox]:not(old) + label {
  display: inline-block;
  padding-left: 28px;
  line-height: 20px;
  background: url("../images/check0_1.png") no-repeat;
  background-size: 20px 20px;
  background-position: center left; }

input[type=checkbox]:not(old):checked + label {
  background: url("../images/check1_1.png") no-repeat;
  background-size: 20px 20px;
  background-position: center left; }

.newsList {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  flex-wrap: wrap; }
  .newsList__item {
    width: 33.3%;
    display: flex;
    padding: 0 10px; }
    .newsList__item a {
      height: 100%;
      width: 100%;
      display: flex;
      background-color: #fff;
      flex-direction: column;
      position: relative;
      top: 0;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .newsList__item a:hover {
        top: -10px;
        box-sizing: 2px 2px 5px #000; }
    .newsList__item__img {
      position: relative;
      background-size: cover;
      background-position: center center;
      width: 100%;
      padding-bottom: 75%; }
    .newsList__item__content {
      text-align: center;
      padding: 20px; }
      .newsList__item__content .date {
        color: #101010;
        font-size: 15px;
        letter-spacing: 0.1em;
        padding: 10px 0 3px 0; }
      .newsList__item__content .content {
        color: #101010;
        font-size: 15px;
        letter-spacing: 0.1em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; }
  @media (max-width: 640px) {
    .newsList__item {
      width: 50%; }
      .newsList__item__content {
        padding: 10px 15px; } }
  @media (max-width: 480px) {
    .newsList__item {
      width: 100%;
      margin-bottom: 15px; } }

.memberform {
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb; }
  .memberformbox {
    display: flex;
    align-items: center;
    padding: 10px 0; }
    .memberformbox .title {
      width: 200px;
      padding: 0 20px; }
      .memberformbox .title p {
        color: #5f5f5f;
        font-size: 15px; }
      .memberformbox .title.nobd {
        padding-left: 0; }
    .memberformbox .content {
      flex-grow: 1; }
      .memberformbox .content input[type='text'], .memberformbox .content input[type='password'] {
        max-width: 320px;
        width: 100%; }
      .memberformbox .content textarea {
        max-width: 320px;
        width: 100%; }
      .memberformbox .content select.style01 {
        max-width: 100px;
        margin-bottom: 5px; }
      .memberformbox .content p {
        color: #5f5f5f;
        font-size: 13px; }
        .memberformbox .content p.red {
          color: #a50000; }
        .memberformbox .content p.mail {
          font-size: 15px; }
      .memberformbox .content span {
        font-size: 13px;
        padding-left: 15px; }
        .memberformbox .content span.red {
          color: #a50000; }
        .memberformbox .content span.green {
          color: #00a504; }
      .memberformbox .content.code {
        display: flex; }
        .memberformbox .content.code img {
          height: 35px;
          width: auto;
          margin-left: 15px; }
    .memberformbox label {
      color: #5f5f5f;
      font-size: 15px; }
    @media (max-width: 854px) {
      .memberformbox {
        flex-wrap: wrap; }
        .memberformbox .title {
          width: 100%;
          padding-left: 0;
          padding-bottom: 5px; }
        .memberformbox .content {
          flex-grow: 1; }
          .memberformbox .content input[type='text'], .memberformbox .content input[type='password'] {
            max-width: 100%; }
          .memberformbox .content textarea {
            max-width: 100%; }
          .memberformbox .content span {
            padding-left: 0px; } }
  .memberform__tit {
    background-color: #2e2e2e;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px; }
  .memberform.nobd {
    border: 0; }
  @media (max-width: 854px) {
    .memberform.orderin .memberformbox .title {
      background-color: #efefef;
      padding: 5px 10px; }
    .memberform.orderin .memberformbox .content {
      padding: 5px 10px; }
      .memberform.orderin .memberformbox .content a {
        color: #5f5f5f; } }

.memberform {
  padding: 15px 0;
  border-bottom: 1px solid #dbdbdb; }
  .memberformbox {
    display: flex;
    align-items: center;
    padding: 10px 0; }
    .memberformbox .title {
      width: 200px;
      padding: 0 20px; }
      .memberformbox .title p {
        color: #5f5f5f;
        font-size: 15px; }
      .memberformbox .title.nobd {
        padding-left: 0; }
    .memberformbox .content {
      flex-grow: 1; }
      .memberformbox .content input[type='text'], .memberformbox .content input[type='password'] {
        max-width: 320px;
        width: 100%; }
      .memberformbox .content textarea {
        max-width: 320px;
        width: 100%; }
      .memberformbox .content select.style01 {
        max-width: 100px;
        margin-bottom: 5px; }
      .memberformbox .content p {
        color: #5f5f5f;
        font-size: 13px; }
        .memberformbox .content p.red {
          color: #a50000; }
        .memberformbox .content p.mail {
          font-size: 15px; }
      .memberformbox .content span {
        font-size: 13px;
        padding-left: 15px; }
        .memberformbox .content span.red {
          color: #a50000; }
        .memberformbox .content span.green {
          color: #00a504; }
      .memberformbox .content.code {
        display: flex; }
        .memberformbox .content.code img {
          height: 35px;
          width: auto;
          margin-left: 15px; }
    .memberformbox label {
      color: #5f5f5f;
      font-size: 15px; }
    @media (max-width: 854px) {
      .memberformbox {
        flex-wrap: wrap; }
        .memberformbox .title {
          width: 100%;
          padding-left: 0;
          padding-bottom: 5px; }
        .memberformbox .content {
          flex-grow: 1; }
          .memberformbox .content input[type='text'], .memberformbox .content input[type='password'] {
            max-width: 100%; }
          .memberformbox .content textarea {
            max-width: 100%; }
          .memberformbox .content span {
            padding-left: 0px; } }
  .memberform__tit {
    background-color: #2e2e2e;
    color: #fff;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    margin-bottom: 15px; }
  .memberform.nobd {
    border: 0; }
  @media (max-width: 854px) {
    .memberform.orderin .memberformbox .title {
      background-color: #efefef;
      padding: 5px 10px; }
    .memberform.orderin .memberformbox .content {
      padding: 5px 10px; }
      .memberform.orderin .memberformbox .content a {
        color: #5f5f5f; } }

.orderlist__item {
  display: flex;
  width: 100%;
  align-items: center; }
  .orderlist__item div {
    flex: 1;
    padding: 10px 5px;
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: #696969; }
    .orderlist__item div * {
      font-size: inherit; }
    .orderlist__item div a {
      color: #696969; }
      .orderlist__item div a.num {
        text-decoration: underline; }
  .orderlist__item.tit {
    background-color: #2e2e2e; }
    .orderlist__item.tit div {
      color: #fff;
      padding: 5px 5px; }
  @media (max-width: 854px) {
    .orderlist__item div {
      font-size: 13px; } }
@media (max-width: 854px) {
  .orderlist {
    margin-top: 20px; }
    .orderlist__item {
      flex-direction: column;
      align-items: flex-start;
      padding: 15px;
      background-color: #efefef;
      margin-bottom: 20px; }
      .orderlist__item div:before {
        width: 80px;
        flex-grow: 0;
        content: attr(data-title); }
      .orderlist__item.tit {
        display: none; } }
.orderlist.bd {
  border: 1px solid #aaaaaa; }
  .orderlist.bd .orderlist__item {
    margin-bottom: 0; }

.nodata {
  font-size: 18px;
  padding: 30px 15px;
  width: 100%;
  text-align: left;
  padding-left: 15px;
  letter-spacing: 0.15em; }
  .nodata.white {
    color: #fff;
    padding-left: 10px; }
  .nodata.black {
    color: #696969; }

@-webkit-keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  75% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  90% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0); }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0); }
  75% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0); }
  90% {
    -webkit-transform: translate3d(0, 2px, 0);
    transform: translate3d(0, 2px, 0); }
  to {
    -webkit-transform: none;
    transform: none; } }

/*# sourceMappingURL=base.css.map */
