.contact {
  background-color: #eaeaea; }

.contact .main__content {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px; }
  .contact .main__content .main__content__title {
    width: 100%; }
  @media (max-width: 640px) {
    .contact .main__content {
      padding: 20px 30px; } }
.contact__left {
  width: 50%;
  padding-right: 50px; }
.contact__right {
  width: 50%; }
  .contact__right iframe {
    width: 100% !important;
    height: 255px;
    border: 1px solid #aaaaaa !important; }
  .contact__right__content {
    padding-top: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between; }
    .contact__right__content p {
      color: #222222;
      letter-spacing: 0.1em;
      line-height: 1.8;
      font-size: 15px;
      padding: 3px 0; }
    .contact__right__content .googlemap {
      background-color: #a77d57;
      color: #fff;
      padding: 10px 15px; }
    @media (max-width: 1180px) {
      .contact__right__content {
        flex-wrap: wrap; }
        .contact__right__content .info {
          width: 100%;
          padding-bottom: 20px; } }
@media (max-width: 768px) {
  .contact {
    flex-wrap: wrap; }
    .contact__left {
      width: 100%;
      padding-right: 0px; }
    .contact__right {
      width: 100%;
      margin-top: 50px;
      margin-bottom: 20px; } }

.formbox {
  padding-bottom: 10px; }
  .formbox .tit {
    font-size: 15px;
    color: #5f5f5f;
    letter-spacing: 0.1em; }
  .formbox .con {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row; }
    .formbox .con > input {
      width: 100%;
      margin-top: 5px;
      flex-shrink: 1; }
    .formbox .con textarea {
      margin-top: 5px;
      width: 100%; }
    .formbox .con .check {
      width: 170px;
      display: flex;
      padding-left: 20px;
      flex-shrink: 0;
      justify-content: flex-end;
      align-items: center; }
      .formbox .con .check .option {
        margin-left: 15px; }
      .formbox .con .check label {
        color: #5f5f5f;
        font-size: 15px; }
    .formbox .con.code input {
      width: 60%;
      max-width: 210px; }
    .formbox .con.code img {
      height: 40px;
      margin-left: 10px;
      margin-top: 5px; }

.login {
  display: flex; }
  .login__left {
    width: 50%;
    padding-right: 60px; }
    .login__left .forgot {
      font-size: 15px;
      color: #5f5f5f;
      border-bottom: 1px solid #5f5f5f;
      padding-bottom: 5px;
      letter-spacing: 0.08em; }
  .login__right {
    width: 50%;
    padding-left: 60px; }
    .login__right .content {
      color: #5f5f5f;
      letter-spacing: 0.1em;
      font-size: 15px;
      padding-bottom: 25px;
      line-height: 2; }
    .login__right button {
      width: 80%; }
  @media (max-width: 854px) {
    .login {
      flex-wrap: wrap; }
      .login__left {
        width: 100%;
        padding-right: 0; }
      .login__right {
        width: 100%;
        padding-bottom: 30px;
        padding-left: 0; } }

.cartstep {
  margin-left: -10px;
  margin-right: -10px;
  display: flex;
  padding-bottom: 25px; }
  .cartstep li {
    width: 33.3%;
    padding: 0 10px; }
    .cartstep li p {
      font-size: 15px;
      padding: 7px 5px;
      color: #5f5f5f;
      border: 1px solid #aaaaaa;
      text-align: center; }
    .cartstep li.current p {
      background-color: #efe6dd; }
    @media (max-width: 982px) {
      .cartstep li {
        padding: 0 5px; }
        .cartstep li p span {
          display: none; } }
  @media (max-width: 854px) {
    .cartstep {
      margin-left: -5px;
      margin-right: -5px; } }

.cart {
  width: 100%; }

.cartlist__item {
  display: flex;
  align-items: center; }
  .cartlist__item .mobile_pro_img {
    display: none; }
  .cartlist__item .product_imfo {
    display: flex;
    flex-grow: 1; }
  .cartlist__item .product_del {
    width: 80px;
    height: 20px;
    text-align: center; }
    .cartlist__item .product_del a {
      color: #868686; }
  @media (max-width: 854px) {
    .cartlist__item {
      display: flex;
      justify-content: space-between; }
      .cartlist__item .mobile_pro_img {
        display: flex;
        width: 150px;
        height: 150px;
        background-image: url("../images/p01.png");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        flex-shrink: 0;
        margin-right: 25px; }
      .cartlist__item .product_imfo {
        flex-wrap: wrap; } }
  @media (max-width: 854px) {
    .cartlist__item .mobile_pro_img {
      width: 100px;
      height: 100px;
      margin-right: 15px; } }
  @media (max-width: 480px) {
    .cartlist__item .mobile_pro_img {
      width: 80px;
      height: 80px;
      margin-right: 10px; }
    .cartlist__item .product_del {
      width: 60px; } }
  @media (max-width: 340px) {
    .cartlist__item .mobile_pro_img {
      width: 70px;
      height: 70px; } }

.cartlist {
  width: 100%; }
  .cartlist__item {
    padding: 15px 0; }
    .cartlist__item .normal {
      flex-basis: 15%;
      flex-grow: 0;
      display: flex;
      align-items: center;
      padding: 0 5px;
      justify-content: center; }
      .cartlist__item .normal p {
        text-align: center;
        font-size: 15px; }
        .cartlist__item .normal p.gray {
          color: #868686;
          text-decoration: line-through; }
        .cartlist__item .normal p.red {
          color: #a50000; }
      .cartlist__item .normal.pro {
        flex-basis: 50%;
        padding: 0; }
      .cartlist__item .normal.num {
        flex-basis: 20%; }
        .cartlist__item .normal.num .numbox {
          font-size: 13px; }
          .cartlist__item .normal.num .numbox input {
            width: 40px; }
          .cartlist__item .normal.num .numbox span {
            padding: 2px 7px;
            cursor: pointer; }
    .cartlist__item--tit {
      background-color: #2e2e2e;
      padding: 5px 0;
      margin-bottom: 10px; }
      .cartlist__item--tit div p {
        color: #fff;
        font-size: 15px; }
    @media (max-width: 854px) {
      .cartlist__item {
        padding-left: 10px;
        padding-right: 10px; }
        .cartlist__item .normal {
          justify-content: flex-start;
          padding: 5px 5px 0 5px;
          width: 40%; }
          .cartlist__item .normal p {
            font-size: 13px; }
          .cartlist__item .normal.pro {
            min-width: 100%; }
            .cartlist__item .normal.pro .pro__img {
              display: none; }
            .cartlist__item .normal.pro .pro__con p {
              font-size: 13px; }
          .cartlist__item .normal.num {
            min-width: 100%; }
            .cartlist__item .normal.num .numbox {
              margin-top: 0; }
              .cartlist__item .normal.num .numbox input {
                height: 20px;
                font-size: 13px; }
        .cartlist__item--tit {
          display: none; } }
    @media (max-width: 340px) {
      .cartlist__item .normal {
        width: 100%; }
        .cartlist__item .normal p {
          font-size: 12px; }
        .cartlist__item .normal.pro .pro__con p {
          font-size: 12px; }
        .cartlist__item .normal.num .numbox input {
          width: 30px; } }

.cartlist {
  margin-bottom: 20px; }
  .cartlist__item div.pro {
    display: flex; }
    .cartlist__item div.pro__img {
      width: 40%;
      background-image: url("../images/p01.png");
      background-size: contain;
      background-repeat: no-repeat;
      padding-bottom: 30%;
      background-position: center center;
      flex-shrink: 0; }
    .cartlist__item div.pro__con {
      width: 60%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-left: 25px;
      flex-wrap: wrap;
      position: relative; }
      .cartlist__item div.pro__con p {
        font-size: 15px;
        color: #5f5f5f;
        letter-spacing: 0.08em;
        width: 100%;
        display: block;
        text-align: left; }
      @media (max-width: 854px) {
        .cartlist__item div.pro__con {
          padding-left: 5px;
          width: 100%; }
          .cartlist__item div.pro__con .name span {
            width: 100%;
            position: absolute;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap; }
          .cartlist__item div.pro__con .spec {
            margin-top: 20px; } }

.total {
  padding: 19px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb; }
  .total__item {
    display: flex;
    justify-content: flex-end;
    padding: 5px 0; }
    .total__item div {
      text-align: right;
      font-size: 15px; }
      .total__item div.text {
        color: #5f5f5f;
        width: 30%;
        text-align: left; }
      .total__item div.price {
        color: #a50000;
        width: 20%;
        max-width: 180px;
        text-align: left; }
      .total__item div.deliver {
        color: #5f5f5f;
        width: 20%;
        max-width: 180px;
        text-align: left; }
    @media (max-width: 640px) {
      .total__item div {
        font-size: 13px; }
        .total__item div.text {
          width: 50%; }
        .total__item div.price {
          width: 45%;
          padding-left: 20px; }
        .total__item div.deliver {
          width: 45%;
          padding-left: 20px; } }
    @media (max-width: 340px) {
      .total__item div {
        font-size: 13px; }
        .total__item div.text {
          width: 50%; }
        .total__item div.price {
          width: 48%; }
        .total__item div.deliver {
          width: 48%;
          padding-left: 20px; } }

.finish__tit {
  font-size: 15px;
  color: #fff;
  background-color: #2e2e2e;
  padding: 10px;
  text-align: center; }
.finish__content {
  text-align: center;
  padding: 35px 0;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 35px; }
  .finish__content p {
    font-size: 15px;
    color: #5f5f5f;
    line-height: 2;
    letter-spacing: 0.05em; }
    .finish__content p span.red {
      color: #a50000; }
  .finish__content a.red {
    color: #a50000;
    border-bottom: 1px solid #a50000; }
  @media (max-width: 640px) {
    .finish__content p {
      font-size: 13px; } }

/*# sourceMappingURL=layout.css.map */
