@charset "UTF-8";

.menu_bar {
  overflow-y: scroll;
}

.menu_bar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.search-form {
  visibility: hidden;
}

.app-brand>a {
  padding-left: 1rem;
}

#sidebar {
  padding-bottom: unset;
}