@charset "UTF-8";

.menu_bar {
  overflow-y: scroll;
}

.menu_bar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.search-form {
  visibility: hidden;
}

.app-brand>a {
  padding-left: 1rem;
}

.navbar {
  padding-right: unset;
}

#sidebar {
  padding-bottom: unset;
}

.card-default .card-header {
  justify-content: space-between;
}

.invisible_table {
  display: none;
}

#enabled {
  width: 7rem;
}

#enabled>button {
  width: 100%;
}

.table-scroll {
  overflow-x: scroll;
  cursor: grab;
}