.sectionCoupon{
    padding:3rem 8rem;
}
.addCouponBtnBox{
    padding:3rem 8rem;
}
.CouponBtnBox{
    margin:1rem 0 2rem 0; 
    display: flex;
    gap:8rem;
    justify-content: center; 
    padding:1.6rem 3rem;
    background-color: rgba(255, 255, 255, 0.632);
}
.availableBtn:link,
.availableBtn:visited{
    background-color: #fff;
    color:#C4E3E1;
    padding:1rem 8rem;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-weight:700;
    font-size:2rem;

    transition:all 0.3s;
}
.availableBtn:hover,
.availableBtn:active{
    transform: scale(1.05);
}
.availableActive:link,
.availableActive:visited{
    color:#1E5E8E;
}
.sectionCoupon{
    margin-bottom: 15rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.couponTitle,
.couponTitleDate{
    color:#1E5E8E;
    margin-bottom:0.5rem;
}

.coupon{
    width: 460px;
    height: 230px;
    margin: auto;
    -webkit-mask: radial-gradient(circle at 0, transparent 20px, red 0);
    background-color: #fff;
    position: relative;
}
.customerCoupon{
    width: 460px;
    height: 230px;
    margin: auto;
    -webkit-mask: radial-gradient(circle at 0, transparent 20px, red 0);
    background-color: #fff;
    position: relative;
}
.customerImg{
    width:100%;
}
.company,.number{
    color:#1E5E8E;
}
.company{
    font-size:1.8rem;
}
.number{
    font-size:1.4rem;
}
.couponheader{
    padding:1rem 2rem;
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap:3rem;
}
.couponheaderLogoBox{
    display: flex;
    align-items: center;
    gap:2rem;
}
.logoBox{
    width:70px;
    /* height:50px; */
}
.coupomBody{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.coupomBody > p{
    color:#1E5E8E;
}
.couponBodyTitle{
    font-size:5rem;
    margin:1rem 0 2rem 0;
    font-weight:700;
}
.couponfooter{
    position:absolute;
    bottom: 0;
    width:100%;
    justify-content: space-around;
    background-color: #555;
    color:#fff;
    display: flex;
    gap:1rem;
    padding:0.8rem;
    font-size:1.2rem;
}
/* //expired Coupons/// */
.couponExpired{
    position: relative;
}
.couponExpired::after{
    content: '';
    background-color: rgba(243, 248, 255, 0.8);
    width: 460px;
    height: 230px;
    position: absolute;
    top:0;
    left:0;
    z-index: 222;
}
/* add coupon */
.addcoupon,.addcustomerCoupon{
    width: 560px;
    height: 280px;
    margin: auto;
    -webkit-mask: radial-gradient(circle at 0, transparent 20px, red 0);
    background-color: #fff;
    margin-bottom: 5rem;

    position: relative;
}
/* couponLogoBtnBox */
.sectionAddCoupon{
    padding:1rem 8rem 3rem 8rem;
    margin-bottom:5rem;
}
.couponinputContainer{
    padding:0 5rem;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    flex-direction: column;
    /* align-items: center; */
    gap:1rem;
}
.couponInput{
    padding:0.4rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    border:1px #c3c3c3 solid;
    font-size:1.8rem;
}
.couponLabel{
    display: block;
    font-size:1.4rem;
    margin:0.2rem 0 0.5rem 0;
}
.couponLabelInfo{
    color:rgb(173, 15, 15)
}
.addcouponBody{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.couponMainInput{
    font-size:4rem;
    text-align: center;
}
.sectionuseCoupon{
    padding:3rem 8rem;
}
.useCouponBox{
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}
.UseCoupon{
    width:580px;
    height:290px;
}
.useCouponInfo{
    color:#FF5C00;
    font-size:1.8rem;
    text-align: center;
    margin-top: 2rem;
    font-weight:300;
    line-height: 1.5;
}
/* popup */
.diaone{
    border:none;
    background:none;
    width:100vw;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    overflow-y:scroll;
    position: relative;
}
.diaone::backdrop{
    background-color: rgba(69, 76, 99, 0.8);
    backdrop-filter:blur(3px);
}
.PopUpBox{
    background-color: #fff;
    border-radius: 10px;
    margin:0 auto;
    padding:2rem 3rem;
    width:50%;
    position: relative;
}

.popuptitle{
    color:#FF5C00;
    font-size:2.4rem;
    text-align: center;
    margin-bottom: 5rem;
}
.customerCouponBox{
    position: relative;
}
.couponNumber{
	position: absolute;
	z-index: 11;
	top:0.5rem;
	right:2rem;
	background-color: #fff;
	color:#1E5E8E;
	padding:0.3rem;
	border-radius: 5px;
}