/**************************/
/* HEADER */
/**************************/
.header {
    justify-content: space-between;
    background-color: #fff;
    border-bottom: solid #bbbbbb 1px;
} 
  /**************************/
  /* NAVIGATION */
  /**************************/
.main-nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap:2rem;
} 
  /* MOBILE */
.btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;
    display: none;
    position: absolute;
    top:4rem;
    right:1rem;
  }  
.icon-mobile-nav {
    height:4.5rem;
    width: 4.5rem;
    color: #616161;
  } 
.closeicon{
    color:#fff;
  }
.icon-mobile-nav[name="close-outline"] {
    display: none;
  }
.spaceBox{
    padding:10rem;
  }
.spacetitle{
    /* display: inline-block; */
    font-size:2.6rem;
    color:#30628d;
    background-color: #fff;
    border:#C6DFF5 solid 1px;
    padding:2rem 3rem;
    border-radius: 1.5rem;
    box-shadow: 0 0 0.5rem 0.2rem rgba(198, 223, 245, 0.6);
  }
/* section hero */
.secondaryNav{
    background-color:#1E5E8E;
    padding:0.7rem 2rem;
    display: flex;
    justify-content: flex-end;
}
.mainNavBox{
    padding:0rem 3rem 0.5rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F2F2F2;
}
.logoimg{
    width:30rem;
    height:auto;
}
.mainNavList{
    list-style: none;
    display: flex;
    justify-content: center;
    gap:3rem;
}
.mainNavLink:link,
.mainNavLink:visited{
    color:#1e1e1e;
    padding:2rem 1.5rem 2rem 1.5rem ;
    transition: all 0.2s;
    font-size:1.8rem;
}
.mainNavLink:hover,
.mainNavLink:active{
    color:#3c6684;
    /* background-color:#658399; */
    border-bottom-left-radius:0.8rem;
    border-bottom-right-radius:0.8rem;
}
.currentNav:link,
.currentNav:visited{
    color:#fff;
    background-color:#1E5E8E;
    border-bottom-left-radius:0.8rem;
    border-bottom-right-radius:0.8rem;
}
.navCompany{
    color:#fff;
    font-size:1.3rem;
    margin-right: 2rem;
}
.logoutBtn{
    background: none;
    border:none;
    color:#fff;
    font-size:1.5rem;
}
.logoutBtn:hover{
    cursor: pointer;
}
/*IndexMain Section */
.sectionIndexMain{
    padding:4rem 8rem;
}
.indexBtnBox{
    display: flex;
    justify-content: center;
    gap:15rem;
}
.indexBtn:link,
.indexBtn:visited{
    background-color: #1E5E8E;
    color:#fff;
    padding:1.5rem 3rem;
    border-radius: 3rem;

    transition: all 0.3s;
}
.indexBtnodd:link,
.indexBtnoddvisited{
    animation-name: indexBtnAnimatiomOdd;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.indexBtneven:link,
.indexBtnevenvisited{
    animation-name: indexBtnAnimatiomeven;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
}
.indexBtn:hover,
.indexBtn:active{
    transform: scale(1.05);
}
/* animation */
@keyframes indexBtnAnimatiomOdd{
    0%{
        box-shadow: 0 0 0.5rem 0.3rem #55a5e3 ;
    }
    25%{
        box-shadow: 0 0 1.2rem 0.5rem #55a5e3 ;
    }
    50%{
        box-shadow: 0 0 0.5rem 0.3rem #55a5e3 ;
    }
    75%{
        box-shadow: 0 0 1.2rem 0.5rem #55a5e3 ;
    }
    100%{
        box-shadow: 0 0 0.5rem 0.3rem #55a5e3 ;
    }
}
@keyframes indexBtnAnimatiomeven{
    0%{
        box-shadow: 0 0 1.2rem 0.5rem #55a5e3 ;
    }
    25%{
        box-shadow: 0 0 0.5rem 0.3rem #55a5e3 ;
    }
    50%{
        box-shadow: 0 0 1.2rem 0.5rem #55a5e3 ;
    }
    75%{
        box-shadow: 0 0 0.5rem 0.3rem #55a5e3 ;
    }
    100%{
        box-shadow: 0 0 1.2rem 0.5rem #55a5e3 ;
    }
}
.indexrobotImgBox{
    display: flex;
    justify-content: center;
    margin-bottom:2rem;
}
.sectionindexMain{
    padding:3rem 8rem;
    margin-bottom: 15rem;
}
.indexMainTitleBox{
    display: flex;
    justify-content: center;
    transform: translate(-20rem,5rem);
}
.indexMainTitle{
    display: inline-block;
    padding:1rem 3rem;
    background-color: #fff;
    border-top-right-radius: 25rem;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
    text-align: center;
}
.indexMainImgBox{
    display: flex;
    justify-content: center;
}
.indexMainImg{
    width:40rem;
}
