.sectionMember{
    padding:3rem 8rem;
    margin-bottom: 8rem;
}
.memberTitle{
    font-size:3rem;
    color:#1E5E8E;
}
.secondaryTitle{
    color:#1E5E8E;
    font-weight:400;
    margin-bottom: 1rem;
}
.thirdTittle{
    color:#1E5E8E;
}
.impmark{
    color:red;
}
.label{
    display: block;
    margin-bottom: 0.8rem;
    color: #0a3a5f;
}
.radiolabel{
    color: #777;
}
.radiolabel2{
    color:#0a3a5f;
}
.inputContainerLogin{
	display: flex;
    margin:3rem 0;
    gap:2.5rem;
    flex-direction: column;
    border-left:  1.5px solid #1E5E8E;
	padding:2rem 2rem 2rem 5rem;
}
.inputContainer{
    display: flex;
    margin:3rem 0;
    gap:2.5rem;
    flex-direction: column;
    border-left:  1.5px solid #1E5E8E;
	padding:2rem 2rem 2rem 5rem;
}
.lastinputContainer{
    border:none;
}
.inputBox{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
}
.radioBox{
    margin-bottom: 3rem;
}
.inputBox *:focus{
    outline:none;
    box-shadow: 0 0 0.2rem 0.5rem rgba(166, 228, 252, 0.469)!important;
} 

.input,.select{
    border:1px solid #0a3a5f;
    font-size:1.8rem;
    color:#1E5E8E;
    padding:0.6rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    width:35rem;
    box-shadow:0 2px 0.2rem 0.2rem rgba(232, 232, 232, 0.469)
}
.addressSelect{
    width:15rem;
}
.adressinput{
    width:40rem;
}
::placeholder{
    color:#989898;
}
.paymentimgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 3rem;
}
.paymentImg{
    width:80%;
}
