/**************************/
/* BELOW 944px navigation (Tablets) */
/**************************/
@media (max-width: 59em) {
    /* MOBILE NAVIGATION */
      .main{
          display: grid;
          grid-template-columns:1fr;
      }
      .btn-mobile-nav {
        display: block;
        z-index: 9999;
      }
      .header {
          background:none;
          height:auto;
        }
      .main-nav {
        background-color:#1E5E8E;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        transform: translateX(100%);
       
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease-in;
        padding:5rem 0;
        z-index: 2;
    
        /* Hide navigation */
        /* Allows NO transitions at all */
        /* display: none; */
    
        /* 1) Hide it visually */
        opacity: 0;
    
        /* 2) Make it unaccessible to mouse and keyboard */
        pointer-events: none;
    
        /* 3) Hide it from screen readers */
        visibility: hidden;
      }
      .nav-open .main-nav {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);
      }
      .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
      }
    
      .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
      }
    
      .main-nav-list {
        flex-direction: column;
        gap:2rem;
      }
      .main-nav-link:link,
      .main-nav-link:visited {
        font-size:2rem;
        color:#fff;
        text-align: center;
      }
      .secondScetion{
        padding:1rem; 
      }
      /* input{
        margin-top: 1rem;
      } */
      .secondScetion{
        transform: translateY(-10rem);
  
      }
      .CardContainer{
        padding:1.5rem;
        grid-template-columns: 1fr 1fr;
      }
    .currentNav:link,
    .currentNav:visited{
        background: none;
        border-radius: none;
    }
}
/**************************/
/* OVER 1500px  */
/**************************/
@media (min-width:93em){
    /* index */
    .logoutBtn{
        font-size:2rem;
    }
    .mainNavLink:link, .mainNavLink:visited{
        font-size:2.4rem;
    }
    .logoimg{
        width:40rem;
    }
    .indexMainImg{
        width:50rem;
    }
    .indexMainTitle{
        font-size:4.5rem;
    }
    /* questionnaire */
    .questionnaireContainer{
        width:80%;
        margin: 0 auto;
    }
    .questionnaireTitle{
        font-size:4rem;
    }
    .questionnaireSecondaryTitle,
    .questionnaireContent,
    .questionnaireinfomaiton,
    .questionnaireEnding,
    .questionaireFooter{
        font-size:2.6rem;
    }
    .question,
    .questionnaireLabel,
    .questionaieSelect{
        font-size:2.6rem;
    }
    .nextbtn:link, .nextbtn:visited{
        font-size:2.5rem;
    }
    .sectionCoupon{
        padding:3rem 8rem;
        width:80%;
        margin: 0 auto;
    }
    .indexFixfooter,
    .couponfixfooter{
        position: fixed;
        bottom:0;
        width:100vw;
    }
    .sectionMember{
        margin-bottom: 15rem;
    }
}
/**************************/
/* BELOW 1024px (Tablets) */
/**************************/
@media (max-width: 64em){
    /* ////index//// */
    .footerimg{
        width:30%;
    }
    /* questionnaire */
    .qusetionnaireBody{
        padding:3rem;
    }
    /* Coupon */
    .sectionCoupon{
        padding:3rem 0;
    }
}
/**************************/
/* BELOW 944px (Tablets) */
/**************************/
@media (max-width: 59em){
    /* coupons /expired coupon */
    .sectionCoupon{
        grid-template-columns: 1fr;
        gap:3rem;
    }
    .sectionAddCoupon{
        margin-bottom:8rem;
    }
    .cusinputContainer{
        width:80%;
    }
}
/**************************/
/* BELOW 820px  */
/**************************/
@media (max-width:52em) {
    .logoutBtn{
        font-size:1.8rem;
    }
    /* questionnaire */
    .sectionQuestionaire{
        padding:3rem 4rem;
    }
    .questionnaireHeader{
        padding:1.5rem 3rem 3rem 3rem;
    }
    .PopUpBox{
        width:60%;
    }
    .indexFixfooter{
        position: fixed;
        bottom: 0;
        width:100%;
    }
}
/**************************/
/* BELOW 650px  */
/**************************/
@media (max-width:41em) {
    /* validation */
    .sectionindexMain{
        padding:3rem;
    }
    .indexMainTitleBox{
        transform: translate(-10rem,0);
    }
    .indexMainImg{
        width:30rem;
    }
    /* coupon */
    .sectionuseCoupon{
        padding:3rem;
    }
    .PopUpBox{
        width:75%;
    }
    /* member */
    .sectionMember{
        padding:3rem;
    }
    .inputContainer{
        padding:1.5rem;
    }
}
/**************************/
/* BELOW 580px (Largemobile) */
/**************************/
@media (max-width: 37em) {
    /* ////index//// */
    .footerimg{
        width:45%;
    }
    /* questionnaire */
    .questionnaireTitle{
        font-size:2.8rem;
    }
    .questionnaireLogo{
        width:8rem;
        height:8rem;
    }
    .questionnaireContent,
    .questionnaireinfomaiton{
        font-size:1.8ren;
    }
    .questionaireFooter{
        gap:1rem;
    }
    .questionnaireHeaderBox{
        gap:1.5rem;
    }
    /* coupon/ expired coupon */
    .CouponBtnBox{
        gap:3rem;
        padding:1rem 1.5rem
    }
    .availableBtn:link, .availableBtn:visited{
        padding:1rem 3.5rem;
    }
    .coupon,.customerCoupon{
        width:320px;
        height:160px;
    }
    .customerCouponBox::before{
        font-size:1.2rem;
        width:10rem;
    }
    .logoBox{
        width:35px;
    }
    .couponBodyTitle{
        font-size:3rem;
        margin:0.5rem 0;
    }
    .sectionAddCoupon{
        padding:1rem 1rem 3rem 1rem;
    }
    .couponinputContainer{
        padding:0;
    }
    .addcoupon, .addcustomerCoupon{
        width:360px;
        height:180px;
        margin:2rem;
    }
    .couponsecondary{
        font-size:1.5rem;
    }
    .couponMainInput{
        font-size:2rem;
    }
    .availableBtn:link, .availableBtn:visited{
        padding:1rem 1.5rem;
        font-size:1.6rem;
    }
    /* coupon */
    .bluebtn,.whiteBtn:link,.whiteBtn:visited{
        padding:1.5rem;
    }
    .useCouponBox{
        margin-bottom: 5rem;
    }
}
/**************************/
/* BELOW 430px  */
/**************************/
@media (max-width:28em) {
    /* index */
    .indexMainTitleBox{
        transform: translate(-5rem,0);
    }
    .indexMainTitle{
        font-size:2rem;
    }
    .indexMainImg{
        width:20rem;
    }
    .logoimg{
        width:25rem;
    }
    .footerimg{
        width:60%;
    }
    .footercopyright{
        font-size:1.2rem;
    }
    .mainNavBox{
        padding:0rem 3rem 0.5rem 1rem
    }
    /* questionnaire */
    .sectionQuestionaire{
        padding:2rem 1.5rem;
    }
    .qusetionnaireBody{
        padding:1.5rem;
    }
    .question{
        font-size:2rem;
    }
    /* coupon */
    .PopUpBox{
        width:90%;
        padding:2rem 1.5rem;
    }
    .input, .select{
        width:25rem;
    }
}