    /* title */
.SectionAiquestionnaire{
    padding:3rem 8rem;
    margin-bottom: 15rem;
}
.headingTitleBox{
    margin-bottom:3rem;
}
.headingTitle{
    background-color: #7FBCEC;
    color:#fff;
    padding:1rem 2rem;
    display: inline-block;
    font-size:3rem;
    font-weight:500;
}
.headingContent{
    font-size:3rem;
    color:#4496D6;
}
/* edit */
.editInputContainer{
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
}
.editlabel{
    display: block;
    margin-bottom: 0.5rem;
}
.inputInfo{
    margin-top: 0.8rem;
    font-size:1.2rem;
    color:#E0927A;
}
.editCotainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:3rem;
    margin-top: 3rem;

    border-bottom: dashed 1px #274776;
    padding-bottom: 2rem;
}
.backgroundColorBox,
.titleColorBox{
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    background-color: #fff;
    padding:1rem;
    border-radius: 4px;
}
.backgroundColorBtn,
.titleColorBtn{
    width:1.8rem;
    height:1.8rem;
    border:none;
    box-shadow: none;
}
.backgroundColorBtn:hover,
.titleColorBtn:hover{
    cursor:pointer;
}
.editColorTitle{
    font-size:1.8rem;
    font-weight:400;
    margin-bottom:1rem;
}
/* color */
.whiteBtn{
    background-color: #fff;
    border:1px solid #888;
}
.grayBtn{
    background-color: #D9D9D9;
}
.lightyellowBtn{
    background-color: #E8DDCF;
}
.lightgreenBtn{
    background-color: #D3E8CF;
}
.lightblueBtn{
    background-color: #C4E3E1;
}
.lightpurple{
    background-color: #BCC6E2;
}
.lgihtpinkBtn{
    background-color: #E3C4DB;
}
.redBtn{
    background-color: #E19292;
}
.yellowBtn{
    background-color: #E1D992;
}
.greenBtn{
    background-color: #CDE192;
}
.blueBtn{
    background-color: #92DDE1;
}
.blue2Btn{
    background-color: #92B2E1;
}
.purpleBtn{
    background-color: #B092E1;
}
.pinkBtn{
    background-color: #E192B8;
}
.darkredBtn{
    background-color: #BD6C6C;
}
.darkyellowBtn{
    background-color: #C0B86E;
}
.darkgreenBtn{
    background-color: #A5BC65;
}
.darkblueBtn{
    background-color: #6BB5BA;
}
.darkblue2Btn{
    background-color: #6A8ABA;
}
.darkpurpleBtn{
    background-color: #8D6EBF;
}
.darkpinkBtn{
    background-color: #BF6490;
}
.darkgreyBtn{
    background-color: #928F8F;
}
.darkgrey2Btn{
    background-color: #545454;
}
.darkerredBtn{
    background-color: #7B2C2C;
}
.darkeryellowBtn{
    background-color: #6D672A;
}
.darkergreenBtn{
    background-color: #698125;
}
.darkerblueBtn{
    background-color: #1F7479;
}
.darkerblue2Btn{
    background-color: #274776;
}
.darkerpurpleBtn{
    background-color: #4F2E85;
}
.darkerpinkBtn{
    background-color: #90104E;
}
.demoContainer{
    display: flex;
    justify-content: center;
}
.demoContainer{
    margin-top: 3rem;
}
/* 問卷範例 */
.demobox{
    width:75%;
}
.demotitle{
    text-align: center;
    color:#1E5E8E;
    margin-top: 3rem;
    font-weight:500;
}
