.sectiondataAnalysis{
    padding:3rem 8rem;
    margin-bottom: 15rem;
    /* height:85vh; */
}
.dataAnalysisBox{
    border-radius: 15px;
    border:solid 2px #fff;
    padding:0.8rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    margin-bottom: 2rem;
}
.dataHeadingTitle{
    font-size:2rem;
    line-height: 1.5;
    color:#306996;
    font-weight:500;
}
.dataSecondaryTitle{
    font-size:1,8rem;
    margin-left:1.5rem;
    /* display:inline; */
}
.dataLink:link,.dataLink:visited{
    color:#4496D6;
    transition:all 0.3s;
}
.dataLink:hover,.dataLink:active{
    color:#306996;
}
.dataBtnBox,.dataLinkBox{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.dataBtnBox{
    gap:2rem;
}
.dataLinkBox{
    gap:0.5rem;
}
.dataAnalysisFooterFix{
    position: fixed;
    bottom:0;
    width:100vw;
}
.dataAnalysisContainer{
    margin-bottom: 4rem;
}
/* data Questionnaire */
.sectiondataQuestionnaire{
    padding:1rem 8rem 3rem 8rem;;
    margin-bottom: 3rem;
}
.dataQuestionnaireInfoContainer{
    margin-bottom:3rem;
    background-color: rgba(255, 255, 255, 0.5);
    padding:1rem 8rem ;
    margin-top: 1.5rem;
    display: flex;
    gap:2rem;
    flex-wrap: wrap;
}
.dataQuestionnaireInfoTitle{
    color:#306996;
    margin-bottom:1rem;
}
/* data infomation */
.infocontent{
    margin-bottom:1rem;
}
.infoClasspink{
    border-left: solid 13px #E8D2CF;
    padding:0.5rem 2rem;
}
.infoClassyellow{
    border-left: solid 13px #E8DDCF;
    padding:0.5rem 2rem;
}
.infoClassgreen{
    border-left: solid 13px #C4E3E1;
    padding:0.5rem 2rem;
}
/* data Analysis Detail */
.AnalysisDetailTitleBox{
    display: flex;
    align-items: center;
    gap:5rem;
    margin-bottom: 3rem;
}
.dataDetailSelect{
    padding:0.5rem 2rem;
    width:20rem;
    border:none;
    border-radius: 5px;
    box-shadow: 0 0 0.4px 0.5px rgba(232, 221, 207, 0.639);
    transform: translateY(2px);
}
.AnalysisDetailTitle{
    color:#306996;
    font-size:3.2rem;
}
/* data */

.dataContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap:4rem;
    column-gap: 2rem;
}

.dataBox{
    padding:2rem;
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
}
.dataTitleBox{
    margin-bottom: 1rem;
    display: flex;
    gap:1rem;
    align-items: center;
}
.dataTitle{
    font-size:2.4rem;
    color:#808080;
    font-weight:500;
}
.dataContent{
    font-size:2rem;
    color:#808080;
    display: flex;
    gap:1rem;
    align-items: center;
    flex-wrap: wrap;
}
.dataImg{
    width:100%;
}
.AnalysisDetailH3{
    line-height: normal;
}
.dataSecondaryTitle:link,
.dataSecondaryTitle:visited{
    display: flex;
    gap:2px;
    color:#4496D6;
    align-items: center;
    font-size:1.6rem;
    margin-right: 3rem;
}
.dataSecondaryTitle:hover,
.dataSecondaryTitle:active{
    color:#306996;
}
.writedIcon{
    width:3rem
}