*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    font-size:62.5%;
    overflow-x:hidden;
}
body{
    font-family:"Noto Sans TC",sans-serif;
    line-height:1;
    font-weight:400;
    color:#555;
    font-size: 16px;
    background-color: #D0E2F4;
    scroll-behavior: smooth;
    overflow-x:hidden;
    width:100%;
    height:100vh;
    overflow-y: scroll;
    position: relative;
}
a{
    text-decoration: none;
}
::placeholder{
    color:#999;
}
.secondaryTitle{
    color:#6db0e3;
    margin-bottom: 3rem;
    font-weight:500;
    font-size:2.6rem;
}
/* space */
.topspace{
    margin-top:5rem;
}
.topspace2{
    margin-top:1rem;
}
/* button */
.centerBtnBox{
    display: flex;
    justify-content: center;
    gap:3rem;
    flex-wrap: wrap;
}
.centerBtnBoxwrap{
    flex-wrap: wrap;
}
.leftBtnBox{
    display: flex;
    justify-content: flex-start;
}
.leftBtnBox2{
    display: flex;
    justify-content: flex-end;
    gap:2rem;
}

.mainbtn:link,
.mainbtn:visited{
    background-color: #1E5E8E;
    color:#fff;
    padding:1rem 3rem;
    border-radius:5px;
    border:none;
    box-shadow: 0 4px 0.4rem 0 rgb(59, 59, 59, 0.25);
    transition:all 0.3s;
}
.mainbtn:hover,
.mainbtn:active{
    background-color: #184b72;
    cursor:pointer;
}

.nextbtn:link,
.nextbtn:visited{
    background-color: #1E5E8E;
    color:#fff;
    padding:1rem 3rem;
    border-radius:5px;
    box-shadow: 0 2px 0.3px 4px rgba(18, 55, 84, 0.4);
    transition: all 0.3s;
}
.nextbtn:hover,
.nextbtn:active{
    transform: scale(0.98);
    box-shadow: 0 1px 0.3px 3px rgba(18, 55, 84, 0.3);
}
.prebtn:link,.prebtn:visited{
    background-color: #fff;
    color:#1E5E8E;
    padding:1rem 3rem;
    border-radius:5px;
    box-shadow: 0 2px 0.3px 4px rgba(158, 158, 158, 0.4);
    transition: all 0.3s;
}
.prebtn:hover,
.prebtn:active{
    transform: scale(0.98);
    box-shadow: 0 1px 0.3px 3px rgba(158, 158, 158, 0.3);
}
.bluebtn{
    background-color: #1E5E8E;
    color:#fff;
    padding:1rem 3rem;
    border-radius:5px;
    border:none;
    box-shadow: 0 4px 0.4rem 0 rgb(59, 59, 59, 0.25);
    transition:all 0.3s;
    font-size:1.6rem;
}
.bluebtn:hover{
    background-color: #184b72;
    cursor:pointer;
}
.whitebtn{
    background-color: #fff;
    color:#1E5E8E;
    padding:1rem 3rem;
    border-radius:5px;
    border:none;
    box-shadow: 0 4px 0.4rem 0 rgb(59, 59, 59, 0.25);
    transition:all 0.3s;
    font-size:1.6rem;
}
.whitebtn:hover{
    background-color: #f2f2f2;
    color: #184b72;
    cursor:pointer;
}
.secondarybtn:link,
.secondarybtn:visited{
    background-color: #fff;
    color:#184b72;
    padding:0.9rem 3rem;
    border-radius:5px;
    border:none;
    box-shadow: 0 4px 0.4rem 0 rgb(59, 59, 59, 0.25);
    transition:all 0.3s;
    display: flex;
    align-items: center;
}
.secondarybtn:hover,
.secondarubtn:active{
    background-color: #eee;
    color:#184b72;
}
/* radio Button */
/* customer radio BTN ////////////
////////////////////////////////*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.container input {
    position:absolute;
    opacity:0;
    cursor:pointer;
    height:0;
    width:0;
}
  /* Create a custom radio button */
.radiocheckmark {
    position:absolute;
    top:0;
    left:0;
    height:25px;
    width:25px;
    background-color: #f0f0f0;
    border-radius:50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .radiocheckmark {
    background-color: #f0f0f0;
    box-shadow: 0 0 0.2rem 0.5rem rgba(166, 228, 252, 0.469);
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .radiocheckmark {
    background-color: #f0f0f0;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.radiocheckmark:after {
    content: "";
    position:absolute;
    display:none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiocheckmark:after {
    display:block;
}
/* Style the indicator (dot/circle) */
.container .radiocheckmark:after {
    top: 6px;
    left: 6.3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(156, 231, 254);
}
/* footer */
.footer{
    padding:0.5rem 0 0 0;
    background-color: #fff;
}
.footerimgBox{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.footerimg{
    width:20%;
}
.footercopyright{
    text-align:center;
}
.footercopyright{
    text-align:center;
    padding:0.5rem 2rem 0.5rem 2rem;
    background-color: #2d485c;
    color:#fff;
}
.footercopyright > p{
    font-size:1.6rem;
}
.footerifo{
    padding:0 2rem 0 2rem;
    font-size:1.4rem;
}
.footerifo > p{
    text-align: center;
    margin-bottom: 0.3rem;
    line-height: 1.5;
}
.label{
    display: block;
    margin-bottom: 0.8rem;
    color: #0a3a5f;
}
.cuslabel{
    font-size:1.5rem;
}
.input{
    border: none;
    padding: 0.5rem 2rem;
    border-radius: 5px;
    width: 35rem;
    font-size: 1.8rem;
}
.searchInput{
    padding:0.5rem;
}
.info{
    color:rgb(230, 115, 0);
    margin-top:0.5rem;
    margin-bottom:1rem;
    padding-left:1rem;
}
/* page */
.pagination{
    display: flex;
    justify-content: center;
    list-style: none;
    gap:2rem;
}
.pageLink:link,
.pageLink:visited{
    color:rgb(25, 87, 146)
}
.pageLink:hover,
.pageLink:active{
    color:rgb(23, 73, 119)
}
.pageLinkActive{
    text-decoration: underline;
}
/*///////////////////////////////
    input width setting 
//////////////////////////////*/

.textarea{
    padding:0.5rem;
    font-size:1.8rem;
    resize:none;
    line-height: 1.3;
    border:none;
}

/* 英文68字 */
.EnInput68{
    width:70rem;
    height:3.7rem;
}
/* 英文10字 */
.EnInput10{
    width:15rem;
}
/* 中文20字 */
.ChInput20{
    width:40rem;
}
/* 英文20字 */
.EnInput20{
    width:23rem;
}
.input60{
    width:80rem;
}
/* 中文50字 */
.ChInput50{
    width:93rem;
    height:3.7rem;
}

.questioninput{
    width:93rem;
    height:7.4rem;
}
.editbtn:link,
.editbtn:visited{
    background-color: #58d712;
    color:#fff;
    padding:1rem 3rem;
    border-radius:5px;
    box-shadow: 0 2px 0.3px 4px rgba(18, 55, 84, 0.4);
    transition: all 0.3s;
}
.editbtn:hover,
.editbtn:active{
    transform: scale(0.98);
    box-shadow: 0 1px 0.3px 3px rgba(18, 55, 84, 0.3);
}
.swal2-container>div{
    font-size: inherit;
}