.sectionHistory{
    padding:3rem 10rem;
    margin-bottom: 5rem;
    /* height:80vh; */
}
.historyTitleBox{
    display: flex;
    align-items: center;
    gap:2rem;
    flex-wrap: wrap;
    margin-bottom: 4rem;
}
.historyTitle{
    color:#555;
}
.historyTitleBox *:focus{
    outline: none;
    /* box-shadow: 0 0 0.2rem 0.5rem rgba(166, 228, 252, 0.469)!important; */
}

.searchBox{
    background-color: #fff;
    padding:0.1rem 0.5rem;
    border-radius: 5px;
    display: flex;
    gap:0.3rem;
    align-items: center;
}
.searchBtn{
    background:none;
    border:none;
}
.searchBtn:hover{
    cursor:pointer;
}
.searchIcon{
    font-size:2.5rem;
}
/* history Quetionnaire Detial */
.historyQuestionnaireEditBtnBox{
    margin:1rem 0 3rem 0;
    background-color: #ffffffa8;
    padding:1rem 8rem;
}
.historyQuestionnaireEditBtn:link,
.historyQuestionnaireEditBtn:visited{
    color:#ff004c;
    background-color: #ffffff;
    border-radius: 5px;
    font-size:1.8rem;
    padding:0.5rem 1rem;
    transition:all 0.3s;
    box-shadow: 0 4px 4px 1px rgba(0, 0, 0, 0.25);
}
.historyQuestionnaireEditBtn:hover,
.historyQuestionnaireEditBtn:active{
    color:#c5003b;
    transform: scale(0.99);
}
.editIcon{
    font-size:3rem;
}
