.sectionQuestionaire{
    padding:3rem 8rem 10rem 8rem;
}
.questionaireHeaderBox{
    display: flex;
    gap:1rem;
    align-items: center;
}
.questionaireheaderImg{
    width:18rem;
}
.questionaireHeadingTitle{
    color:#1E5E8E;
}
/* 無問卷時顯示之標題 Start */
.questionaireSecondaryTitle{
    color:#EE4D1B;
    margin-top: 3rem;
    margin-bottom: 30rem;
    display: none;
}
/* 無問卷時顯示之標題 End */

.questionairesContainer{
    margin-top: 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:2rem;
}
.questionaireBox{
    background-color: #fff;
    box-shadow: 0 0.1rem 0.2rem 0.1rem rgba(153, 153, 153, 0.57);
    padding:1.5rem 2rem;
    border-radius: 2rem;
}
.questionaireLink:link,
.questionaireLink:visited{
    display: flex;
    color:#555;
    flex-wrap: wrap;
    gap:3rem;

    transition:all 0.3s;
}
.questionaireLink:hover .questionaireCompany,
.questionaireLink:hover .arrowIcon,
.questionaireLink:active{
    color:#4496D6;
}
.questionaireLink:hover .questionaireDate,
.questionaireLink:hover .questionaireTitle,
.questionaireLink:active{
    color:#1E5E8E;
}

.questionaireContentBox{
    display: flex;
    gap:1rem;
    align-items: center;
}
.questionaireDate{
    border-right: 1px solid #666;
    padding-right: 0.5rem;
}
.questionaireCompany,.arrowIcon{
    color:#1E5E8E;
}
.arrowIcon{
    font-size:3rem;
}