.signupBody{
    background-color:hsla(0,0%,100%,1);
    background-image:
    radial-gradient(at 100% 7%, hsla(211,85%,75%,0.38) 0px, transparent 50%),
    radial-gradient(at 1% 97%, hsla(68,65%,86%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(199,60%,71%,1) 0px, transparent 50%),
    radial-gradient(at 16% 72%, hsla(185,57%,80%,0.31) 0px, transparent 50%),
    radial-gradient(at 96% 96%, hsla(191,76%,42%,0.43) 0px, transparent 50%),
    radial-gradient(at 2% 88%, hsla(341,0%,92%,1) 0px, transparent 50%);
    position: relative;
}
.sectionMain{
    padding:3rem 8rem 10rem 8rem;
    background-image: url(img/ai2biLogoBackground.png);
    background-repeat: no-repeat;
    background-size:40%; 
}
.headtitleContainer,
.stateContainer{
    display: flex;
    justify-content: center;
    margin:1rem 0 2rem 0;
    gap:8rem;
}
.headtitleBox{
    display: flex;
    gap:1rem;
    background-color: #1E5E8E;
    padding:0.8rem 2rem;
    border-radius: 25rem;
    align-items: center;
}
.titleicon{
    width:3rem;    
}
.headtitle{
    color:#fff;
    font-size:2.4rem;
    font-weight:400;
}
.infomationContainer{
    display: flex;
    justify-content: center;
}
.secondaryTitle{
    /* text-align: center; */
    color:#1E5E8E;
    font-weight:400;
}
.stateBox{
    display: flex;
    gap:4rem;
    align-items: center;
}
.stateicon{
    font-size:3rem;
    color:#dedede;
}
.stateActive{
    color:#4496D6;
}
.statedone{
    color:#4496D6
}
.stateLineBox{
    width:5rem;
}
.stateLine{
    border-bottom: 3px solid #86b2d3;
}
.thirdTittle{
    color:#1E5E8E;
}
.impmark{
    color:red;
}
.label{
    display: block;
    margin-bottom: 0.8rem;
    color: #0a3a5f;
}
.radiolabel{
    color: #777;
}
.radiolabel2{
    color:#0a3a5f;
}
.inputContainer{
    display: flex;
    /* justify-content: center;
    align-items: center; */
    margin-top: 3rem;
    gap:2.5rem;
    flex-direction: column;
}
.inputBox{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    align-items: center;
}
.radioBox{
    margin-bottom: 3rem;
}
.inputBox *:focus{
    outline:none;
    box-shadow:0 0 0.2rem 0.5rem rgba(254, 235, 156, 0.469) !important;
}
.input,.select{
    border:none;
    font-size:1.8rem;
    color:#1E5E8E;
    padding:0.6rem 2rem;
    background-color: #fff;
    border-radius: 5px;
    width:30rem;

    box-shadow:0 2px 0.2rem 0.2rem rgba(232, 232, 232, 0.469)
}
.adressinput{
    width:40rem;
}
::placeholder{
    color:#989898;
}
.paymentimgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    margin-top: 3rem;
}
.paymentImg{
    width:80%;
}
/* validation */
.sectionVerify{
    padding:3rem 8rem;
    margin-bottom: 10rem;
}
.verifyTitleBox{
    display: flex;
    justify-content: center;
    transform: translate(-20rem,5rem);
}
.verifyTitle{
    display: inline-block;
    padding:1rem 3rem;
    background-color: #fff;
    border-top-right-radius: 25rem;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
    text-align: center;
}
.verifyImgBox{
    display: flex;
    justify-content: center;
}
.verifyImg{
    width:40rem;
}
/* login */
.sectionLogin{
    margin-bottom:10rem;
}
.loginheadtitleContainer{
    margin:3rem 0 5rem 0;
}
.headerlogin:link,
.headerlogin:visited{
    background-color: rgba(255, 255, 255, 0.6);
    border: #1E5E8E 1.5px solid;
    padding:0.8rem 2rem;
    border-radius:25rem;
    display: flex;
    gap:0.5rem;
    align-items: center;
    color:#1E5E8E;
    transition: all 0.3s;
}
.headerlogin:hover,
.headerlogin:active{
    transform: scale(1.05);
}
.loginactive:link,
.loginactive:visited{
    background-color: #1E5E8E;
    padding:0.8rem 2rem;
    border-radius:25rem;
    display: flex;
    gap:0.5rem;
    align-items: center;
    color:#fff;
}
.loginInputContainer{
    display: flex;
    justify-content: center;
}
.fotrgetLinkBox{
    display: flex;
    justify-content: flex-end;
}
.forgetLink:link,
.forgetLink:visited{
    color:rgb(204, 53, 53);
    font-size:1.5rem;
}
/* forget */
.sectionForget{
    padding-bottom:20rem;
}
.forgetTitle{
    margin-top: 10rem;
    color:#EE4D1B;
    text-align: center;
    font-size:3rem;
}
.forgerLabel{
    margin-bottom: 1.5rem;
    font-size:1.8rem;
}
/* radio Button */
/* customer radio BTN ////////////
////////////////////////////////*/
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Hide the browser's default radio button */
.container input {
    position:absolute;
    opacity:0;
    cursor:pointer;
    height:0;
    width:0;
}
  /* Create a custom radio button */
.checkmark {
    position:absolute;
    top:0;
    left:0;
    height:25px;
    width:25px;
    background-color: #fff;
    border-radius:50%;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #fff;
    box-shadow: 0 0 0.2rem 0.5rem rgba(254, 235, 156, 0.469);
}
/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: rgb(241, 248, 255);
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position:absolute;
    display:none;
}
/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display:block;
}
/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 6px;
    left: 6.3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(156, 231, 254);
}
