nav{
    background-color:#1E5E8E;
    padding:0.5rem 2rem;
}
.navigationBox{
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding:0.3rem;
}
.signup:link,
.signup:visited,
.login:link,
.login:visited{
    margin-right: 1.5rem;
    color:#fff;
}
.signup:hover,
.signup:active,
.login:hover,
.login:active{
    color:#D2D2D2;
}
.bannerContainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:1rem;
    padding:1rem 3rem 3rem 3rem;
    align-items: center;
    position: relative;
}
.bannerContainer::after{
    position: absolute;
    content: '';
    width:100%;
    height:50rem;
    background-color: #fcfcfc;
    opacity: 0.4;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #fcfcfc 40px ), repeating-linear-gradient( #dee3eb55, #dee3eb );
    z-index: -1;
}
.bannerimg{
    position: relative;
    z-index: 2;
}
h1{
    font-size:4rem;
    transform: translateY(-5rem);
    line-height: 1.5;
}
.signupBtn:link,
.signupBtn:visited{
    background-color: #1E5E8E;
    box-shadow: 0 4px 4px 0 #88888858;
    color:#e2e2e2;
    padding:0.8rem 3rem;
    border-radius: 8px;
    transition:all 0.3s;
}
.signupBtn:hover,
.signupBtn:active{
    background-color: #4b7ea5;
}
.introduceBox{
    display: flex;
    justify-content: center;
    padding:1rem 5rem;
}
.introduceImg{
    width:55%;
    transform: translateY(-12rem);
    z-index:1;
}
/* function */
.sectionFunction{
    position: relative;
}
.functionContainer{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}
.functionContainerSec{
    margin-top: 5rem;
}
.functionBox{
    padding:3rem 9rem;
}
.functionTitle{
    color:#1E5E8E;
    font-size:2.8rem;
}
.functionTitle::after{
    content: '';
    width:15rem;
    height:10rem;
    border-top-right-radius: 25rem;
    border-bottom-right-radius: 25rem;
    background-color: #D2D2D2;

    position: absolute;
    top:0;
    left:-6rem;

    z-index: -1;
}
.functionContent{
    color:#1E5E8E;
    line-height: 1.5;
    margin-top: 4rem;
    font-size:2.4rem;
}

.functionImg{
    width:40rem;
}
.functionTitle2{
    color:#1E5E8E;
    font-size:2.8rem;
}
.functionTitle2::after{
    content: '';
    width:15rem;
    height:10rem;
    border-top-left-radius: 25rem;
    border-bottom-left-radius: 25rem;
    background-color: #D2D2D2;

    position: absolute;
    top:0;
    right:-6rem;

    z-index: -1;
}
.standardFunctionContent{
    padding-bottom:1rem;
    border-bottom:1px #555 solid;
}
.functionTitle3Box{
    margin-top: 2rem;
}
.functionTitle3{
    color:#1E5E8E;
    font-size:2.4rem;
    margin-bottom: 1rem;
}
.functionContent3{
    font-size:1.8rem;
    line-height:1.5;
    color:#4b7ea5;
}
.couponImg{
    margin-top: 3rem;
    width:70%;
}
.decoLinkBox{
    display: flex;
    position: absolute;
    bottom: -5rem;
    right: 0;
}
/* data info */
.datainfoContainer{
    margin-top: 10rem;
}
.datainfoImgBox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding:1rem 8rem;
    justify-items: center;
}
.datainfoImg{
    width:90%;
}
.lineBox1,
.lineBox2{
    padding:0 3rem;
}
.lineBox1{
    margin-top: 3rem;
}
.line1,
.line2{
    border-bottom: 1px solid #FF5C00;
    margin-bottom: 1rem;
    width:90%;
    display: flex;
    justify-content: center;

}
/* payment */
.Sectionpayment{
    margin-bottom: 5rem;
}
.paymentContainer{
    margin-top: 10rem;
    
}
.btnBox{
    display: flex;
    justify-content: center;
    margin-top:3rem;
}